.section-1 {
  background-image: url(/images/banner-sneak.png);
  background-position: center 0;
  background-size: auto 560px;
  position: relative;
  text-align: center;
}

.section-1 img {
  display: block;
  width: 100%;
}

.section-1 .container {
  max-width: none;
  overflow: hidden;
  padding: 170px 0;
}


.section-1 h4 {
  margin: 10px 0 0;
}

.section-1 p {
  padding-top: 0;
  margin: auto;
  max-width: 450px;
}

.section-1 .form-row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.section-1 .form-row .btn {
  padding: 15px 40px;
}

.section-1 .form-row .btn[type=button] {
  border-radius: 50%;
  font-weight: bold;
  height: 40px;
  padding: 0;
  width: 40px;
}

.section-1 .form-row #amount {
  border: 0;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 40px;
}

@media(max-width: 439px) {
  .section-1 .container {
    padding: 160px 20px;
  }
}