.body {
  background-image: url(/images/banner-sneak.png);
  background-position: center 0;
  background-size: auto 560px;
  position: relative;
  text-align: center;
}

.body .container {
  max-width: none;
  overflow: hidden;
  padding: 170px 0;
}

.body .disconnected {
  padding: 48px 0;
}

.body p {
  padding: 0 0 10px;
  margin: auto;
  max-width: 450px;
}

.body .tabs .btn {
  margin: 2px;
  text-align: center;
  width: 150px;
}

.body .content h4 {
  margin: 10px 0 0;
}

.body .content .form-row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.body .content .form-row .btn {
  padding: 15px 40px;
}

.body .content .form-row .btn[type=button] {
  border-radius: 50%;
  font-weight: bold;
  height: 40px;
  padding: 0;
  width: 40px;
}

.body .content .form-row input.amount {
  border: 0;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 40px;
}

@media(max-width: 439px) {
  .body .container {
    padding: 160px 20px;
  }
}